<div class="card bg-base-100 shadow-sm animate-fadeIn">
  <figure>
    <img [src]="product().images | productImage" [alt]="product().title" />
  </figure>
  <div class="card-body h-[200px]">
    <h2
      class="card-title font-montserrat text-secondary hover:text-blue-900 hover:cursor-pointer"
      [routerLink]="['/product', product().id]"
    >
      {{ product().title }}
    </h2>
    <p>{{ product().description | slice : 0 : 70 }}...</p>
    <div class="card-actions justify-end">
      <a
        class="text-secondary text-sm font-bold font-montserrat hover:text-blue-900"
        [routerLink]="['/product', product().id]"
        >Ver producto</a
      >
    </div>
  </div>
</div>
